    geopandas
    jsonargparse[signatures]>=4.27.7
    matplotlib
    Mercantile
    rasterio
    pystac-client
    xbatcher
    odc-stac
    planetary-computer
    xarray
    rioxarray
    utm
    zarr
    leafmap
    localtileserver
    regionmask
    cf_xarray
    geocube
    tenacity

    # AI
    fastmcp
    langchain
    langchain-ollama
    langgraph
